@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Inter, sans-serif;
}

#profile-box {
    width: 100%;
    min-height: 324px;
    flex-shrink: 0;
    border-radius: 0px 0px 50px 50px;

    background: #FEFEFE;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);

    padding: 31px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
    text-align: center;

}

#pfp {
    width: 116.667px;
    height: 116.667px;
    border-radius: 100%;
    object-fit: cover;
}

#name-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#main-name {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 8.33px 0;
}

#full-name {
    color: #AEAEAE;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 7.83px;
}

#status {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 232px;
    flex-shrink: 0;
    white-space: pre-line;
    display: inline-block;
}

hr {
    margin: 10px auto;
    width: 90%;
    border-color: rgba(0, 0, 0, 0.21);
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
    display: flex;
    gap: 3px;
    align-items: center;
}

.field {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 7px 0;
}

.content {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 7px 0;
    display: block;
}

.two-col {
    display: flex;
}

#birthday-column,
#section-column {
    width: 50%;
}

.one-line {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 7px 0;
}

.one-line .field {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.one-line .content {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.map {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.address-name {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 3px 0 10px;
}

.box {
    width: 85%;
    margin: 0 auto;
}

#acad-2 {
    gap: 18px;
}

.vax {
    width: 50%;
}

a.content {
    color: #30F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}